<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- bootstrap link  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   <div class="container-fluid">
      <div class="row ">
        <!-- nav -->
        <%- include("./partial/nav") -%>
    
        <main class="col-lg-10">

          <!-- page title  -->
          <div>
            <% if (typeof title !== "undefine") { %>
              <h1><%= title %></h1>
            <% } %>
          </div>
          

          <!-- display error messages  -->
          <% if (typeof errors !== "undefined") { %>

            <!-- loop through the array of errors and display message for each to the DOM  -->
            <% errors.forEach((error)=>{ %>
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <div>
                  <%= error.msg %>
                </div>
              </div>
            <% }); %>
            <!-- loop ends  -->
            
            
          <% } %>
          
          

          <form action="/catalog/genre/create" method="post">
            <!-- genre  -->
            <div class="mb-3">
              <label for="genre" class="form-label">Genre:</label>
              <input type="text" class="form-control" id="genre" name="genre" placeholder="Fantasy, Poetry, etc." value = <%= typeof genre != "undefined" ? genre.name : "" %>>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>



        </main>
      </div>
   </div>
  </body>
</html>
