<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- bootstrap link  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
   <div class="container-fluid">
      <div class="row ">
        <!-- nav -->
        <%- include("./partial/nav") -%>
    
        <main class="col-lg-10">
          <div>
            <h1>Genre List</h1>
          </div>

          <!-- display existing genres to DOM  -->
          <% 
            <!-- check if genre exist  -->
            if(typeof genres !== "undefined"){%>

              <!-- create an unorder list of existing genres  -->
              <ul>
                <% genres.forEach((genre)=>{%>
                
                  <li>
                    <a href=<%= genre.id %>><%= genre.name %></a>
                  </li>

                  <%})
                %>
              </ul>
          
            <%}
            else{%> 

              <a href=<%= genre.id %>>Add Genre</a> 

            <%}
          %>
          
        </main>
      </div>
   </div>
  </body>
</html>
